@font-face {
    font-family: GraphikLCG_light;
    src: url(../fonts/GraphikLCG-Light.ttf);
}
@font-face {
    font-family: GraphikLCG_med;
    src: url(../fonts/GraphikLCG-Medium.ttf);
}
@font-face {
    font-family: GraphikLCG_bold;
    src: url(../fonts/GraphikLCG-Semibold.ttf);
}

*{
    transition: all .3s ease;
}
body{
    margin: 0;
    padding: 0;
    font-family: GraphikLCG_med, sans-serif;
}
.container{
    width: 1216px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}


header{
    width: 100%;
    background: url(../img/Skyscraper.png) no-repeat center center / cover;
    height: 960px;
    color: white;
    z-index: 1;
    position: relative;
}
.blue_bg{
    background: #2A6CEA;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

nav{
    display: flex;
    padding-top: 28px;
}
a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.logo{
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    width: 120px;
    display: flex;
    left: 0px;
    position: relative;
    z-index: 6;
}
.logo span{
    z-index: 8;
}
.logo .cur{
    border-radius: 30px;
    height: 24px;
    min-width: 24px;
    max-width: 24px;
}
.logo .blue{
    background: #2A6CEA;
    z-index: 2;
    position: relative;
}
.logo .white{
    background: #ECEFF2;
    z-index: 1;
    position: relative;
    left: -13px;
}
.logo:hover .blue{
    background: #397DFF;
}

a.btn_menu{
    display: none;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    position: relative;
    top: -20px;
    z-index: 8;
    margin-left: auto;
}
a.btn_menu span{
    height: 0px !important;
}
a.btn_menu span,
a.btn_menu span::after,
a.btn_menu span::before{
    position: absolute;
    top: 50%;
    left: 27%;
    margin-top: -1px;
    margin-left: -1px;
    width: 22px;
    height: 2px;
    background: white;
}
a.btn_menu span::after,
a.btn_menu span::before{
    content: '';
    transition: .3s;
}
a.btn_menu span::before{
    transform: translateY(-4px);
}
a.btn_menu span::after{
    transform: translateY(4px);
}
a.btn_menu_active span::before{
    transform: rotate(45deg);
}
a.btn_menu_active span::after{
    transform: rotate(-45deg);
}
a.btn_menu_active span::after, a.btn_menu_active span::before {
    transition: .3s;
    background: #191C1F;
}
.menu{
    position: absolute;
    right: 0px;
    display: flex;
    width: 464px;
    font-family: GraphikLCG_light, sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0em;
    margin: 0;
    padding: 0px;
    justify-content: space-between;
}
.menu li{
    display: block;
    cursor: pointer;
}
.menu li a{
    border-bottom: 1px solid transparent;
}
.menu li:hover a{
    border-bottom: 1px solid white;
}
header h1{
    margin: 0px auto;
    margin-top: 313px;
    font-size: 52px;
    font-weight: 600;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    width: 748px;
}
header p{
    margin: 0px auto;
    margin-top: 18px;
    font-family: GraphikLCG_light, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
}
header a.btn{
    margin: 0px auto;
    margin-top: 92px;
    background: #ECEFF2;
    color: #191C1F;
    width: 180px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 20px 40px;
    border-radius: 4px;
    transform: scale(1.0);
    box-shadow: 0px 2px 20px transparent;
    display: block;
    transition: .4s ease;
}
header a.btn:hover{
    background: rgb(255, 196, 87);
    box-shadow: 0px 2px 15px rgb(235, 185, 92);
    transform: scale(1.02);
    color: white;
}

section.how_work{
    margin-top: 80px;
    color: #191C1F;
}
.how_work h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
}
.how_work .groups{
    margin-top: 61px;
    display: flex;
    justify-content: space-around;
}
.item{
    width: 280px;
    text-align: left;
}
.item img{
    width: 72px;
    height: 72px;
}
.item h6{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}
.item p{
    font-size: 14px;
    font-family: GraphikLCG_light, sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    margin: 4px 0px;
}
.content{
    margin: 80px auto;
    display: flex;
    width: max-content;
}
.content .text{
    margin-top: 125px;
    margin-right: 32px;
    width: 592px;
}
.content h2{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0em;
}
.content p{
    font-family: GraphikLCG_light, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    margin-top: 18px;
}
.content img{
    height: 448px;
    width: 592px;
}
section.feedbacks{
    background: #F6F8FA;
}
section.feedbacks h1{
    padding-top: 57px;
    color: #191C1F;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: center;
}
.slider{
    position: relative;
    margin-top: 32px;
}
.slider-item{
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding:22px;
    margin: 0px 32px;
    height: 316px;
    cursor: pointer;
    margin-bottom: 24px;
}
.slider-item .title{
    display: flex;
}
.slider-item .about_man{
    width: 237px;
    margin-left: 16px;
}
.slider-item .about_man h6{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}
.slider-item span{
    font-family: GraphikLCG_light, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: #5E646A;
}
.slider-item p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    font-family: GraphikLCG_light, sans-serif;
    width: 297px;

}
.slider img{
    width: 44px;
    height: 44px;
}
.slick-list{
    overflow: hidden;
}
.slick-track{
    display: flex;
}
.slider .slick-arrow{
    position: absolute;
    top: 35%;
    z-index: 5;
    border: 0px;
    font-size: 0;
    height: 32px;
    width: 16px;
    background: url(../img/Vector.png) center / cover no-repeat;
    filter: saturate(0%);
    transform: scale(1);
    cursor: pointer;
}
.slider .slick-arrow:hover{
    filter: saturate(100%);
    transform: scale(1.1);
}
.slider .slick-prev{
    left: -40px;
    transform: scaleX(-1);
}
.slider .slick-prev:hover{
    transform: scaleX(-1.1);
}
.slider .slick-next{
    right: -40px;
}
.slider .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 25px;
    padding-bottom: 45px;
}
.slider li.slick-active button{
    background: #2A6CEA !important;
    filter: saturate(100%) !important;
}
.slider .slick-dots li{
    list-style: none;
    margin: 0px 15px;
}
.slider .slick-dots button{
    font-size: 0;
    cursor: pointer;
    width: 8px;
    height: 8px;
    background: #2A6CEA;
    filter: saturate(0%);
    border: 0px;
    border-radius: 30px;
}
.slider .slick-dots button:hover{
    filter: saturate(50%);
}
footer{
    margin-top: 80px;
}
footer hr{
    background: #ECEFF2;
    border: 0px;
    height: 1px;
    width: 100%;
}
footer .container{
    color: #191C1F;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    margin: 28px auto;
}

@media screen and (max-width:1220px) {
    .container{
        width: 95%;
    }
    header h1{
        width: 76%;
    }
    .content{
        width: 95%;
    }
    .item {
        width: 23%;
    }
    .content img{
        height: 44%;
        width: 52%;
        margin-top: 125px;
    }
    .content .text{
        width: 44%;
    }
    .slider-item{
        width: auto;
        height: max-content;
    }
    .slider-item p{
        width: 99%;
    }
}
@media screen and (max-width:768px) {
    
    a.btn_menu{
        display: flex;
    }
    header h1{
        margin-top: 345px;
        font-size: 32px;
        line-height: 40px;
    }
    .how_work .groups{
        display: grid;
        grid-template-columns: repeat(auto-fit, 320px);
        grid-gap: 20px;
    }
    .item{
        width: 340px;
        display: flex;
        margin-right: 34px;
    }
    .item_text{
        display: block;
        margin: 0;
        margin-left: 16px;
    }
    .item_text h6{
        margin: 0;
    }
    ul.menu{
        display:block;
        font-size:18px;
        width:106%;
        left: 900px;
        padding-top: 70px;
        background: white;
        top: 0px;
    }
    ul.menu li{
        margin:16px;
    }
    ul.menu a{
        color: #83898F;
        margin-left: 0;
    }
    ul.menu li::before{
        content: '';
        background: #ECEFF2;
        width: 100%;
        height: 1px;
        display: block;
        top: -7px;
        position: relative;
        margin: 0px auto;
    }
    ul.menu li:last-child::after{
        content: '';
        background: #ECEFF2;
        width: 100%;
        height: 1px;
        display: block;
        bottom: -7px;
        position: relative;
        margin: 0px auto;
    }
    ul.menu a::after{
        display: block;
        content: '';
        background: url(../img/Vector.png) center center / contain no-repeat;
        width: 7px;
        height: 14px;
        margin-left: auto;
        position: absolute;
        right: 25px;
        margin-top: -20px;
        filter: saturate(0%);
    }
    ul.menu li:hover a::after{
        filter: saturate(100%);
    }
    ul.menu li:hover a{
        margin-left: 10px;
    }
}
@media screen and (max-width:560px){
    header h1{
        margin-top: 120px;
        font-size: 24px;
        line-height: 32px;
    }
    .item{
        width: 100%;
    }
    .content{
        flex-direction: column-reverse;
    }
    .content .text{
        width: 100%;
        text-align: center;
        margin-top: 7px;
    }
    .content img{
        width: 100%;
    }
    
}
